.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    &__title{
        display: flex;
        align-items: center;
        a{
            font-size: 30px;
            font-weight: 900;
            color:#fff;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .nav-header{
        flex: 0 0 40%;
        padding: 0 20px;
        &__list{
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
        &__item{
            transition: all .2s ease-in;
            font-size: 18px;
            font-weight: 900;
            cursor: pointer;
            &:hover{
                transform: scale(1.5);
            }
        }

    }
}



    